@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

nav {
    height: auto;
    padding: 10px;
    width: 100%;
    background: transparent;
    backdrop-filter: blur(5px);
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li:hover {
    transform: scale(1.05);
}

nav .register-nav {
    border: 1.5px solid white;
    border-radius: 5px;
}

nav .register-nav:hover {
    background-color: white;
}

nav .register-nav a:hover{
    color: black;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 25px;
    left: 0;
    color: white;
    font-weight: bold;
}

nav ul li {
    cursor: pointer;
    padding: 8px;
}

.logo {
    color: white;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

.logo:hover {
    transform: scale(1.1);
}

body {
    flex-direction: column;
    display: flex;
    align-items: center;
    height: 100vh;
    background-image: url("../img/background.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin-bottom: 30px;
    font-size: 40px;
}

form {
    width: 500px;
    border: 1px solid white;
    background: transparent;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    gap: 3%;
}

form .input-email,
.input-password, .input-name {
    width: 80%;
    height: 50px;
    border: 1px solid rgb(255, 255, 255);
    background: transparent;
    border-radius: 30px;
    font-size: 25px;
    padding: 0 15px;
    color: white;
    display: flex;
    align-items: center;
}

.password, .email, .user-name{
    height: 100%;
    width: 90%;
    background: none;
    border: none;
    color: white;
    font-size: 25px;
}

form button {
    width: 80%;
    height: 50px;
    background-color: white;
    border-radius: 30px;
    font-size: 25px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: 0.5s;
    border: none;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

form input:focus {
    outline: none;

}

form button:hover {
    background-color: rgb(230, 219, 219);
    transform: scale(1.02);
}

form a {
    text-decoration: none;
    color: white;
}

form a:hover {
    text-decoration: underline;
}

.opt-log {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    width: 50%;
    margin-top: 10px;
}

.social {
    background-color: white;
    border-radius: 50%;
    border: 1px solid white;
    cursor: pointer;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

.social:hover {
    transform: scale(1.05);
}

.register {
    margin-top: 5%;
}

.register-nav a{
    text-decoration: none;
    color: white;
}

.socials-logos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.copy a{
    text-decoration: none;
    color: white;
}

.copy a:hover{
    text-decoration: underline;
}

@media(max-width: 520px), (max-height: 890px) {

    h1 {
        font-size: 30px;
    }

    nav ul li{
        font-size: 18px;
    }


    .register {
        font-size: 10px;
        margin-top: 2px;
    }


    form .input-email,
    .input-password, .input-name,
    button {
        width: 70%;
        height: 35px;
        font-size: 15px;
    }

    form .password, .email, .user-name{
        font-size: 15px;
    }

    form button {
        width: 70%;
        height: 35px;
        font-size: 15px;
    }

    .opt-log p {
        font-size: 12px;
    }
}
